/* Default font */
* {
    font-family:Arial,Helvetica,sans-serif;
}

/* Stash messages */
.message {
    color:green;
}

.warning {
    color:orange;
}

.error {
    color:red;
}

/* Feedback message */

#feedback {
    color:gray;
}

#web_designer_wanted {
    color:orange;
    font-weight:bold;
}

/* Navigation bar */
#navbar {
    list-style-type:none;
    margin:0;
    padding:0;
}

#navbar li {
    display:inline;
    line-height: 1.5em;
}

#navbar a:link, #navbar a:visited {
    color:#ffffff;
    background-color:#98bf21;
    font-weight:bold;
    font-size:1em;
    text-align:center;
    padding-left:10px;
    padding-right:10px;
    border:1px solid #ffffff;
    outline:1px solid #98bf21;
    text-decoration:none;
}

#navbar a:hover, #navbar a:active {
    background-color:#7a991a;
}

/* Lesson page */

#lesson_start_form fieldset span span {
    display:block;
}

#lesson_words a:link {
    color:blue;
    padding-left:0px;
    padding-right:5px;
    text-decoration:none;
}

#lesson_words a:visited {
    color:purple;
}

#lesson_words a:hover {
    color:orange;
}

#lesson_words a.selected {
    font-weight:bold;
}

#lesson_words a.known {
    color:green;
}

#navigation_arrows {
    text-align:center;
    font-weight: bold;
    font-size:3em;
}

#navigation_arrows a {
    text-decoration:none;
}

#navigation_arrows a:link, #navigation_arrows a:visited {
    color:blue;
}

#navigation_arrows a:hover {
    color:orange;
}

#add_to_known_words_button {
    text-align:center;
}

/* Logo-buttons at footer */

#img_buttons img {
    float:left;
    padding-right:10px;
}

/* Extra navigation links */

.extra_navigation_links a:link, .extra_navigation_links a:visited {
    color:#98bf21;
    font-weight:bold;
    font-size:1em;
    text-decoration:none;
}

.extra_navigation_links a:hover, .extra_navigation_links a:active {
    color:#7a991a;
}
