<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>
        [% title || template.title || 'Сто слов' | html %]
        [% c.user_exists ? ' - ' _ c.user.username : '' | html %]
    </title>
    <link rel="stylesheet" href="[% c.uri_for('/static/css/main.css') %]" />
    <link rel="stylesheet" href="[% c.uri_for('/static/css/tabs.css') %]" />
    <script type="text/javascript" src="[% c.uri_for('/static/js/tabs.js') %]">
    </script>
    <script type="text/javascript" src="[% c.uri_for('/static/js/add_to_known_words.js') %]">
    </script>
  </head>
  <body onload="initTabs()">
    <ul id="navbar">
        <li><a href="[% c.uri_for('/') %]">На&nbsp;главную</a></li>
    [% IF NOT c.session.lesson -%]
        <li><a href="[% c.uri_for('/lesson/start/en') %]">Начать&nbsp;урок</a></li>
    [% END -%]
    [% IF c.session.lesson -%]
        <li><a href="[% c.uri_for('/lesson/finish') %]">Закончить&nbsp;урок</a></li>
    [% END -%]
    [% IF c.user_exists AND NOT c.session.lesson -%]
        <li><a href="[% c.uri_for('/known_words/show_all/en') %]">Известные&nbsp;слова</a></li>
    [% END -%]
    [% IF NOT c.user_exists -%]
        <li><a href="[% c.uri_for('/user/login') %]">Войти</a></li>
        <li><a href="[% c.uri_for('/user/register') %]">Создать&nbsp;аккаунт</a></li>
    [% END -%]
    [% IF c.user_exists -%]
        <li><a href="[% c.uri_for('/user/') %]">Мой&nbsp;аккаунт</a></li>
        <li><a href="[% c.uri_for('/user/logout') %]">Выйти</a></li>
    [% END -%]
    </ul>
    <hr/> 
    <div id="content">
        <span class="message">[% status_msg | html %]</span>
        <span class="error">[% error_msg | html %]</span>
        [% content %]
    </div>
    <hr/>
    <p id="feedback">
        Хотите задать вопрос, поделиться своими впечатлениями или сообщить об ошибке? Вам
        <a href="http://alexander-simakov.blogspot.com/2012/01/www100.html#comment-form">сюда</a>!
    </p>
    <div id="img_buttons">
      <a href="http://validator.w3.org/check?uri=referer">
        <img src="[% c.uri_for('/static/images/valid-xhtml10.png') %]"
        alt="Valid XHTML 1.0 Transitional" height="31" width="88" />
      </a>
      <a href="http://jigsaw.w3.org/css-validator/check/referer">
        <img src="[% c.uri_for('/static/images/valid-css21.png') %]"
        alt="Valid CSS!"  height="31" width="88" />
      </a>
      <a href="http://www.catalystframework.org">
        <img src="[% c.uri_for('/static/images/powered_by_catalyst.png') %]"
        alt="Powered by Catalyst" height="31" width="88" />
      </a>
    </div>
  </body>
</html>
